* {
    box-sizing: border-box;
}

/* Common */
html, body {
    font-family: Poppins;
    font-size: 62.5%;

}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

a {
    text-decoration: none;
}

/* Header */
.header {
    position: sticky;
    z-index: 1;
    padding: 36px 0 12px;
    top: -24px;
    background: #FFFCF4;
}

.header .content {
    height: 50px;
    padding: 0;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navigation {
    display: flex;
    gap: 42px;
    margin-left: 512px;
}

.header .navigation a:first-child {
    position: relative;
    color: #171100;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.header .navigation a:first-child::after {
    content: "";
    bottom: 2px;
    left: 0;
    position: absolute;
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #171100;
}

.header .navigation a {
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.header .action {
    margin-left: auto;
}

.header .action a {
    display: block;
    color: #FFF;
    width: 144px;
    height: 50px;
    border-radius: 999px;
    background: #171100;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px; /* 175% */
}

/* Hero */
.hero-wrap {
    height: calc(100vh - 98px);
    /* padding-top: 40px; */
    background: #FFFCF4;
}

.hero-wrap .content {
    display: flex;
    align-items: center;
}

.hero-wrap .hero-img-block {
    position: relative;
    display: inline-block;
    width: 570px;
}

.hero-wrap .hero-img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.hero-wrap .hero-desc {
    padding-left: 230px;
}

.hero-wrap .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero-wrap .desc {
    margin-top: 22px;
    color: #5F5B53;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero-wrap .action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-wrap .action .button {
    width: 180px;
    height: 64px;
    color: #FFF;
    border-radius: 32px;
    background: #FFB900;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 6.4rem;
}

.hero-wrap .action-btn {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.hero-wrap .action-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #FFF;
}

.hero-wrap .action-btn .icon:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero-wrap .action-btn span {
    color: #171100;
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero-wrap .recently {
    display: block;
    margin-top: 48px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero-wrap .quantity {
    display: flex;
    gap: 28px;
    margin-top: 8px;
}

.hero-wrap .name-qty {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero-wrap strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
}

.hero-wrap .courses-block {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .courses-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 28px 24px;
}

.hero-wrap .courses-item {
    display: flex;
    align-items: center;
}

.hero-wrap .courses-stats {
    margin-left: 16px;
}

.hero-wrap .course-qty {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.hero-wrap .course-name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}