* {
    box-sizing: border-box;
}

/* Common */
html {
    scroll-behavior: smooth;
}

html,
body {
    font-family: Poppins;
    font-size: 62.5%;
}

.content {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0;
}

a {
    display: block;
    text-decoration: none;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
}

.btn {
    text-align: center;
    border-radius: 999px;
    width: 118px;
    height: 50px;
    background: #171100;
    line-height: 50px;
}

/* Header */
.header {
    position: sticky;
    z-index: 1;
    padding: 36px 0 8px;
    top: -28px;
    background: #fffcf4;
}

.header .content {
    height: 50px;
    padding: 0;
}

.header .navbar {
    display: flex;
    align-items: center;
}

.header .navigation {
    display: flex;
    margin-left: auto;
}

.header .navigation a:first-child {
    position: relative;
    color: #171100;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.header .navigation a:first-child::after {
    content: "";
    bottom: 2px;
    left: 21px;
    position: absolute;
    width: 12px;
    height: 2px;
    flex-shrink: 0;
    border-radius: 1px;
    background: #171100;
}

.header .navigation a {
    color: #5f5b53;
    padding: 0 21px;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.header .action {
    margin-left: 49px;
}

.header .action a {
    display: block;
    color: #fff;
    width: 144px;
    height: 50px;
    border-radius: 999px;
    background: #171100;
    text-decoration: none;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 50px; /* 175% */
}

/* Hero */
.hero-wrap {
    height: calc(100vh - 94px);
    background: #fffcf4;
}

.hero-wrap .content {
    display: flex;
    align-items: center;
}

.hero-wrap .hero-img-block {
    position: relative;
    display: inline-block;
    width: 570px;
}

.hero-wrap .hero-img {
    object-fit: cover;
    width: 470px;
    height: 685px;
    border-radius: 20px;
}

.hero-wrap .hero-desc {
    padding-left: 230px;
}

.hero-wrap .heading {
    color: #171100;
    font-family: Sen;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 68px; /* 117.241% */
    letter-spacing: -1.16px;
}

.hero-wrap .desc {
    margin-top: 22px;
    color: #5f5b53;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero-wrap .action {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero-wrap .action .button {
    width: 180px;
    height: 64px;
    color: #fff;
    border-radius: 32px;
    background: #ffb900;
    text-align: center;
    font-size: 1.9rem;
    font-weight: 600;
    line-height: 6.4rem;
}

.hero-wrap .action-btn {
    display: flex;
    align-items: center;
    margin-left: 28px;
}

.hero-wrap .action-btn .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: #fff;
}

.hero-wrap .action-btn .icon:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.07);
}

.hero-wrap .action-btn span {
    color: #171100;
    margin-left: 14px;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.hero-wrap .recently {
    display: block;
    margin-top: 48px;
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

.hero-wrap .quantity {
    display: flex;
    gap: 28px;
    margin-top: 8px;
}

.hero-wrap .name-qty {
    color: #5f5b53;
    font-size: 1.8rem;
    font-weight: 400;
}

.hero-wrap strong {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 54px; /* 122.727% */
}

.hero-wrap .courses-block {
    position: absolute;
    right: -100px;
    bottom: 48px;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.05);
}

.hero-wrap .courses-group {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 28px 24px;
}

.hero-wrap .courses-item {
    display: flex;
    align-items: center;
}

.hero-wrap .courses-stats {
    margin-left: 16px;
}

.hero-wrap .course-qty {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.hero-wrap .course-name {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

/* Courses */
.courses {
    padding: 136px 0;
}

.courses .row {
    display: flex;
    justify-content: space-between;
}

.courses .row-up {
    align-items: center;
}

.courses .row-heading {
    width: 458px;
}

.courses .sub-heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}

.courses .desc {
    color: #5f5b53;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    margin-top: 16px;
}

.courses .activation-btn {
    display: flex;
    gap: 18px;
}

.courses .activation-btn {
    cursor: pointer;
}

.courses .row-down {
    margin-top: 55px;
}

.courses .item {
    width: 370px;
    border-radius: 12px;
    box-shadow: 0px 18px 36px 0px rgba(0, 0, 0, 0.05);
}

.courses .image {
    object-fit: cover;
    width: 100%;
    height: 278px;
    border-radius: 12px 12px 0px 0px;
}

.courses .item-desc {
    padding: 16px 22px;
}

.courses .course-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.courses .course-rating .name {
    color: #171100;
    font-family: Poppins;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.courses .score-rating {
    display: flex;
    align-items: center;
}

.courses .rating {
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.courses .score {
    color: #fea31b;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-bottom: -2px;
}

.courses .desc {
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.courses .purchase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 22px;
}

.courses .price {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 30px; /* 166.667% */
}

.courses .btn {
    border-radius: 25px;
    background: #171100;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.courses .btn:hover {
    background: #ffb900;
}

/* Feedback */
.feedback {
    background: #2e2100;
    padding: 32px 0;
}

.feedback .content {
    display: flex;
    gap: 271px;
}

.feedback .avatar {
    object-fit: cover;
    width: 72px;
    height: 72px;
    border-radius: 999px;
}

.feedback .user-name {
    color: #f7f7f7;
    font-family: Sen;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 34px; /* 141.667% */
    margin-top: 18px;
}

.feedback .job {
    margin-top: 4px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px; /* 185.714% */
}

.feedback .user-feedback {
    position: relative;
}

.feedback .quotes {
    margin-left: -30px;
}

.feedback .sentence {
    width: 740px;
    color: #fff;
    font-size: 2.6rem;
    font-style: italic;
    font-weight: 400;
    line-height: 40px; /* 153.846% */
}

.feedback .slider {
    display: flex;
    margin-top: 28px;
    gap: 6px;
}

.feedback .slider-item {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: #634700;
}

.feedback .slider-item:nth-child(2) {
    background: #ffb900;
}

/* Feature */
.feature {
    padding: 136px 0;
}

.feature .row {
    display: flex;
    align-items: center;
}

.feature .img-block {
    position: relative;
    width: 570px;
    height: 438px;
}

.feature .image {
    position: absolute;
    display: inline-block;
    object-fit: cover;
    width: 270px;
    height: 405px;
    border-radius: 16px;
}

.feature .image:first-child {
    left: 0;
    bottom: 0;
}

.feature .image:last-child {
    top: 0;
    right: 0;
}

.feature .row-desc {
    width: 600px;
    padding-left: 130px;
}

.feature .heading {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}

.feature .desc {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.feature .lesson {
    margin-top: 16px;
    color: #5f5b53;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
}

.feature .btn {
    margin-top: 32px;
    color: #fff;
    background: #ffb900;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
}

.feature .feature-down {
    flex-direction: row-reverse;
    padding-top: 200px;
}

.feature .feature-down .row-desc {
    width: 570px;
    padding: 0;
    left: 0;
}

.feature .feature-down .img-block {
    width: 600px;
}

.feature .feature-down .image {
    width: 470px;
    height: 100%;
    right: 0;
    left: auto;
}

/* Blog */
.blog {
    padding: 32px 0 0 0;
    background: #fffcf4;
}

.blog .sub-heading {
    color: #130606;
    text-align: center;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 48px; /* 126.316% */
    letter-spacing: -0.76px;
}

.blog .desc {
    width: 448px;
    color: #696262;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    margin: 16px auto 0;
}

.blog .blog-list {
    display: flex;
    justify-content: space-between;
    margin-top: 55px;
}

.blog .blog-item {
    width: 370px;
    border-radius: 16px;
    background: #fff;
}

.blog .blog-group {
    padding: 20px;
}

.blog .image {
    object-fit: cover;
    width: 100%;
    height: 250px;
    border-radius: 16px 16px 0px 0px;
}

.blog .date-group {
    display: flex;
    align-items: center;
}

.blog .mark {
    width: 6px;
    height: 6px;
    background: #ffb900;
    border-radius: 999px;
}

.blog .date {
    margin-left: 4px;
    color: #5f5b53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}

.blog .separate {
    width: 160px;
    height: 1px;
    margin-top: 12px;
    border-radius: 0.5px;
    background: #e2dfda;
}

.blog .heading {
    margin-top: 12px;
    color: #171100;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75; /* 175% */
}

.blog .btn {
    margin-top: 12px;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
}

.blog .btn:hover {
    background: #ffb900;
}

.blog .slider {
    display: flex;
    justify-content: space-between;
    width: 30px;
    margin: 38px auto;
    text-align: center;
}

.blog .slide {
    width: 6px;
    height: 6px;
    border-radius: 999px;
    background: #5f5b53;
}

.blog .slide:nth-child(2) {
    background: #ffb900;
}

/* Footer */
.footer {
    height: 428px;
    padding: 32px 0 0 0;
    background: #2e2100;
}

.footer .content {
    padding: 64px 0 0 0;
}

.footer .footer-group {
    display: flex;
}

.footer .column:first-child {
    width: 267px;
}

.footer .column:nth-child(2) {
    display: flex;
    justify-content: space-between;
    width: 900px;
    margin-left: 145px;
}

.footer .column:nth-child(2) .footer-category {
    width: 231px;
}

.footer .desc {
    margin-top: 18px;
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}

.footer .social-link {
    display: flex;
    gap: 16px;
    margin-top: 18px;
}

.footer .heading {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
}

.footer .footer-category .separate {
    margin-top: 14px;
    width: 130px;
    height: 1px;
    background: #59554b;
}

.footer .category {
    margin-top: 28px;
}

.footer .category a {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
    margin-top: 12px;
}

.footer strong {
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.85; /* 185.714% */
}

.footer .category li {
    color: #bfbcb2;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 26px;
}

.footer .separate {
    width: 1170px;
    height: 1px;
    margin-top: 38px;
    background: #59554b;
}

.footer .copyright {
    margin: 28px 0;
    color: #807d74;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85; /* 185.714% */
}
